<!-- navbar -->
<nav id="nav">
  <div class="container">
    <div class="d-flex justify-content-between align-items-baseline py-2">
      <div id="mainNav">
        <div class="text-uppercase font-weight-bold">hype.you.up</div>
        <div id="bigNav">
          <ul>
            <li><a href="/" class="text-capitalize">home</a></li>
            <li>
              <a href="/individual/browse" class="text-capitalize">search</a>
            </li>

            {% if request.user.is_authenticated and request.user.isAdmin %}
            <li>
              <a href="/individual/new" class="text-capitalize">post</a>
            </li>
            <li>
              <a href="#" class="text-capitalize">
                {{ request.user.username }}
              </a>
            </li>
            <li>
              <a href="/logout" class="text-capitalize">logout</a>
            </li>
            {% elif request.user.is_authenticated %}
            <li>
              <a href="#" class="text-capitalize">
                {{ request.user.username }}</a
              >
            </li>
            <li>
              <a href="/logout" class="text-capitalize">logout</a>
            </li>
            {% else %}
            <li><a href="/login" class="text-capitalize">login</a></li>
            <li>
              <a href="/register" class="text-capitalize">register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div id="dropdownlist">
        <div class="smallNav" id="navBtn">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- end of navbar -->
